:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  width: 100%;
  display: block;
}
.container{
  margin-top: 3rem;
  width: min(500px,95%);
  margin-inline:auto;
  /* border: 1px solid; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
header{
  height: 230px;
}
header img{
  height: 100%;
  object-fit: cover;
  background-position: center no-repeat;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.quote-card{
  margin: 1rem;
}
q{
  font-style: italic;
  font-size: 1.25rem;
}
.quote-character{
  text-align: right;
  font-weight: bold;
  text-decoration: underline;
}
.button-container{
  padding: 0 1rem;
}
button{
  padding: .5rem .8rem;
  margin: 1rem auto;
  background:linear-gradient(to left, #683a24,#863a1e);
  width: 100%;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.characters-container{
  margin: 3rem 0;
  width: min(1200px,95%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-inline: auto;
  padding: 2rem;
}
.characters-container h2{
  margin-bottom: 1rem;
}
.characters{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4,1fr);
}
.character-card{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: top;
  border: 1px solid;
  border-radius: 4px;
  padding:1rem .5rem ;
  cursor: pointer;
}

.character-image{
  aspect-ratio: 1;
  width: 200px;
  object-position: top;
  object-fit: cover;
  border-radius: 50%;
}
.character-name{
  text-align: center;
  margin-top: .5rem;
}
@media (max-width:800px){
  .characters{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width:500px){
  .characters{
    grid-template-columns: repeat(1,1fr);
  }
}